<div class="well">
    <h2>{{ model.message }}</h2>
    <form name="form" novalidate class="css-form">
        <div class="control-group">
            <div class="controls">
                <input placeholder="user name" name="name" class="input-xlarge" type="text" autofocus/>
                <i class="icon-remove" ></i>
                <i class="icon-ok" ></i>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input placeholder="user age" name="age" class="input-xlarge" type="number" />
                <i class="icon-remove" ></i>
                <i class="icon-ok" ></i>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input placeholder="email address" name="email" class="input-xlarge" type="email" />
                <i class="icon-remove" ></i>
                <i class="icon-ok" ></i>
            </div>
        </div>
        <div class="form-actions">
                <button class="btn btn-primary">Save </button>
                <button class="btn btn-warning">Cancel</button>
        </div>
    </form>
    <br/>
    <a href="/#/users">Go back to user list page</a>
    <br/>
</div>
